.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show {
  display: flex;
  flex-direction: column;
  gap : 5px;
  justify-items: center;
  text-decoration: none;
  
}
.container {
  display: inline-flex;
  padding: 10px;
  flex-direction: row;
  gap: 50px;
  width : 500px;
  align-items: center;
  justify-content: space-between;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* background-color:rgb(72, 187, 253); */
}
img {
  height: 20vh;
  
}
span, h3 {
  font-size: large;
  text-decoration: underline;
}
button {
  width: fit-content;
  padding: 2px;
  margin-top: 10px;
  font-size: large;
  background-color: lightblue;
  cursor: pointer;
}

label {
  font-size: large;
  font-weight: 600;
}
.individual-show {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap : 10px;
}

form {
  display: flex;
  flex-direction: column;
}
input {
  width: max-content;
  height: 20px;
}